main .visual{
    position: relative;
    height: 900px;
    overflow: hidden;
}
main .visual img{
    width: 100%;
}
main .visual .txt{
    position: absolute;
    left: 260px; top: 510px;
}
main .visual .txt h1{
    font-size: 2.22rem;
    color: #fff;
    font-family: "Red Hat Display", sans-serif;
}
main .visual .txt p{
    font-size: 1.44rem;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 60px;
    color: #fff;
    font-family: "Red Hat Display", sans-serif;
}
main .visual .txt a{
    color: #fff;
    font-family: "Red Hat Display", sans-serif;
    font-size: 0.89rem;
    border: 1px solid #fff;
    border-radius: 10px;
    border-radius: 30px;/*  */
    padding: 15px;
    background-color: transparent;
}
/* 브랜드관 시작 */
main .container{margin-top: 200px;}
main .brand_wrap{
/*     background-color: blue; */
    display: flex;
    align-content: space-between;
}
main .category_wrap .c_title_wrap,
main .brand_wrap .b_title_wrap{
    width: 20%;
    padding: 0 70px;
/*     background-color: red; */
}
main .brand_wrap .b_title_wrap h1,
main .apple_wrap .a_title_wrap h1,
main .category_wrap .c_tab_wrap h1,
main .c_product_wrap .c_title_wrap h1{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 700;
    font-size: 3.0rem;
    letter-spacing: -0.02em;
    line-height: 70%;
}
main .brand_wrap .b_title_wrap h1{line-height: 140%;}
main .apple_wrap .a_title_wrap p,
main .c_product_wrap .c_title_wrap p,
main .brand_wrap .b_title_wrap p{
    font-size: 1.13rem;
    font-weight: 500;
    letter-spacing: -0.02rem;
    line-height: 140%;
    margin-top: 20px;
    margin-bottom: 15px;
}
main .apple_wrap .a_title_wrap a,
main .c_product_wrap .c_title_wrap a,
main .brand_wrap .b_title_wrap a{
    font-size: 1.13rem;
    font-weight: 600;
    letter-spacing: -0.02rem;
    color: #0064FF;
    padding-right: 20px;
    background: url(../img/arrow.png) no-repeat right center;
}
main .brand_wrap .b_product_all{}
main .brand_wrap .b_product_all .b_product_li .b_img{}
main .brand_wrap .b_product_all .b_product_li .b_img a{position: relative;}
main .brand_wrap .b_product_all .b_product_li .b_img a img{width: 100%;}
main .brand_wrap .b_product_all .b_product_li .b_img a span{
    font-size: 1.13rem;
    letter-spacing: -0.02rem;
    font-weight: 100;
    color: #fff;
    background-color: #000;
    padding: 5px 10px;
    position: absolute;
    bottom: 4px; left: 0;
}
main .brand_wrap .b_product_all .b_product_li .b_txt{
    padding-top: 30px;
}
main .brand_wrap .b_product_all .b_product_li .b_txt h2{
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.02rem;
/*     background-color: yellow; */
}
main .brand_wrap .b_product_all .b_product_li .b_txt p{
    font-size: 1.13rem;
    letter-spacing: 0.02rem;
    color: #767676;
    padding: 10px 0;
/*     background-color: red; */
}
main .brand_wrap .b_product_all .b_product_li .b_txt .tag{/* padding-top: 10px; */}
main .brand_wrap .b_product_all .b_product_li .b_txt .tag a{
    letter-spacing: 0.02rem;
    color: #898989;
    border-radius: 16px;
    border: 1px solid #898989;
    padding: 5px 10px;
    display: inline-block;
}
/* 애플관 시작 */
main .apple_wrap{

}
main .apple_wrap .a_title_wrap{
    width: 100%;
    text-align: center;
/*     background-color: red; */
    padding-top: 50px;
    padding-bottom: 100px;
}
main .apple_wrap .a_title_wrap h1{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 700;
    font-size: 3.0rem;
    letter-spacing: -0.02em;
    line-height: 70%;
}
main .apple_wrap .a_title_wrap p{
    margin: 20px 0;
}
main .apple_wrap .a_title_wrap a{
    background: url(../img/arrow.png) no-repeat right center;
    padding-right: 20px;
    color: #0064FF;
}
main .apple_wrap .a_product_all{
/*     background-color: yellow; */
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
}
main .apple_wrap .a_product_all .preview{
    background: url(../img/apple01.png) no-repeat 0 0/ 100% auto;
    width: 45%;
/*     background-color: green; */
}
main .apple_wrap .a_product_all .preview h2{
    font-weight: 600;
    letter-spacing: -0.02rem;
    font-size: 2.50rem;
    color: #fff;
    margin-top: 60px;
    margin-left: 40px;
}
main .apple_wrap .a_product_all .preview p{
    font-size: 1.13rem;
    letter-spacing: -0.02rem;
    line-height: 140%;
    color: #fff;
    margin-top: 30px;
    margin-left: 40px;
}
main .apple_wrap .a_product_all .product{
    display: flex;
/*     background-color: blue; */
}
main .apple_wrap .a_product_all .product li{
    padding: 50px;
}
main .apple_wrap .a_product_all .product li:first-child{
    border-right: 1px solid #b6b6b6;
    border-image: linear-gradient(#fff 0%, #b6b6b6 50%, #fff 100%);
    border-image-slice: 1;
}
main .apple_wrap .a_product_all .product li > a{}
main .apple_wrap .a_product_all .product li > a > img{
    width: 100%;
}
main .apple_wrap .a_product_all .product li .a_txt{}
main .apple_wrap .a_product_all .product li .a_txt h3{
    font-size: 1.25rem;
    letter-spacing: -0.02rem;
}
main .apple_wrap .a_product_all .product li .a_txt p{
    font-size: 1.88rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
    padding: 10px 0;
}
main .apple_wrap .a_product_all .product li .a_product{
    display: flex;
    padding-top: 35px;
}
main .apple_wrap .a_product_all .product li .a_product > a{display: flex;}
main .apple_wrap .a_product_all .product li .a_product > a > .a_product_img{}
main .apple_wrap .a_product_all .product li .a_product > a > .a_product_txt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
/*     background-color: red; */
    padding-right: 40px;
}
main .apple_wrap .a_product_all .product li .a_product .a_product_wish{display: flex;}
main .apple_wrap .a_product_all .product li .a_product .a_product_wish a{}
main .apple_wrap .a_product_all .product li .a_product .a_product_wish a:first-child{padding-right: 5px;}
main .apple_wrap .a_product_all .product li .a_product .a_product_wish a img{}
/* 카테고리 시작 */
main .category_wrap{}
main .category_wrap .c_tab_wrap{}
main .category_wrap .c_tab_wrap h1{
    width: 100%; text-align: center;
/*     background-color: red; */
}
main .category_wrap .c_tab_wrap .tab{
    display: flex;
    justify-items: center;
    margin: 0 110px;
    background-color: #f5f5f5;
    margin-top: 50px;
/*     background-color: red; */
}
main .category_wrap .c_tab_wrap .tab li{
    width: 10%; text-align: center; 
    line-height: 55px;
    
}
main .category_wrap .c_tab_wrap .tab li a{color: #898989;}
main .category_wrap .c_tab_wrap .tab .active{background-color: #000;}
main .category_wrap .c_tab_wrap .tab .active a{color: #fff;}
main .category_wrap .c_product_wrap{display: flex; flex-direction: column;}
main .category_wrap .c_product_wrap .c_product_top{
    display: flex;
    padding: 125px 0;
}
main .category_wrap .c_product_wrap .c_product_top .c_title_wrap{}
main .category_wrap .c_product_wrap .c_product_top .c_title_wrap h1{}
main .category_wrap .c_product_wrap .c_product_top .c_title_wrap p{}
main .category_wrap .c_product_wrap .c_product_top .c_title_wrap a{}
main .category_wrap .c_product_wrap .c_product_top .c_product_top_all{}
main .category_wrap .c_product_wrap .c_product_top .c_product_top_li{}
main .category_wrap .c_product_wrap .c_product_top .c_product_top_li a{}
main .category_wrap .c_product_wrap .c_product_top .c_product_top_li a img{}
main .category_wrap .c_product_wrap .c_product_top .c_product_top_li .c_txt{
    padding-top: 40px;
}
main .category_wrap .c_product_wrap .c_product_top .c_product_top_li .c_txt h3{
    font-size: 1.13rem;
    line-height: 130%;
    color: #898989;
    font-weight: 300;
}
main .category_wrap .c_product_wrap .c_product_top .c_product_top_li .c_txt h3 span{
}
main .category_wrap .c_product_wrap .c_product_top .c_product_top_li .c_txt p{}
main .category_wrap .c_product_wrap .c_product_top .c_product_top_li .c_txt .previous{
    text-decoration: line-through;
    padding: 10px 0;
    color: #898989;
}
main .category_wrap .c_product_wrap .c_product_top .c_product_top_li .c_txt .present{
    font-size: 1.13rem;
    color: #0064FF;
}
main .category_wrap .c_product_wrap .c_product_top .c_product_top_li .c_txt .present span{
    padding-left: 10px;
}
main .category_wrap .c_product_wrap .c_product_bottom{/* display: flex; */}
main .category_wrap .c_product_wrap .c_product_bottom .c_product_bottom_li a{}
main .category_wrap .c_product_wrap .c_product_bottom .c_product_bottom_li a img{}
main .category_wrap .c_product_wrap .c_product_bottom .c_product_bottom_li .c_txt{
    padding-top: 40px;
}
main .category_wrap .c_product_wrap .c_product_bottom .c_product_bottom_li .c_txt h3{
    font-size: 1.13rem;
    line-height: 130%;
    color: #898989;
    font-weight: 300;
}
main .category_wrap .c_product_wrap .c_product_bottom .c_product_bottom_li .c_txt h3 span{}
main .category_wrap .c_product_wrap .c_product_bottom .c_product_bottom_li .c_txt p{}
main .category_wrap .c_product_wrap .c_product_bottom .c_product_bottom_li .c_txt .previous{
    text-decoration: line-through;
    padding: 10px 0;
    color: #898989;
}
main .category_wrap .c_product_wrap .c_product_bottom .c_product_bottom_li .c_txt .present{
    font-size: 1.13rem;
    color: #0064FF;
}
main .category_wrap .c_product_wrap .c_product_bottom .c_product_bottom_li .c_txt .present span{
    padding-left: 10px;
}
/* 배너 시작 */
main .banner_wrap{}
main .banner_wrap img{width: 100%;}
/* 익스클루시브 시작 */
main .tosspay_title{
    font-size: 2.50rem;
    font-weight: 600;
    padding-bottom: 30px;
/*     background-color: red; */
}
main .tosspay_title strong{
    font-family: "Sarala", sans-serif;
    font-size: 2.50rem; 
    font-weight: 600;
}
main .tosspay_title span{font-family: "Red Hat Display", sans-serif;}
main .exclusive_wrap{

}
main .e_top{
    padding: 50px 0 468px;
    background: url(../img/exclusive.png) no-repeat;
    margin-top: 200px;
}
main .e_top h1{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
main .e_top h1 span{
}
main .e_top h1 strong{
}
main .e_bottom{
    background-color: #000;
    padding-top: 60px;
    padding-bottom: 130px;
    background-color: #000;
}
main .e_bottom .e_txt{
    /* background-color: red; */
    text-align: center;
}
main .e_bottom h2{
    color: #fff;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 700;
    font-size: 1.88rem;
}
main .e_bottom p{
    color: #fff;
    font-family: "Red Hat Display", sans-serif;
    font-size: 1.50rem;
    font-weight: 300;
    line-height: 200%;
    padding: 80px 0 40px;
}
main .e_bottom a{
    color: #fff;
    font-size: 1.13rem;
    font-weight: 300;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px 20px;
}
/* 프로모션 시작 */
main .promotion_wrap{
    background: #F5F5F5;
    padding-bottom: 50px;
}
main .promotion_wrap h1{
    width: 100%;
    text-align: center;
    padding: 50px 0;
}
main .promotion_wrap h1 span{}
main .promotion_wrap h1 strong{}
main .promotion_wrap .p_product_all{}
main .promotion_wrap .p_product_all .p_product_li{}
main .promotion_wrap .p_product_all .p_product_li .p_img{}
main .promotion_wrap .p_product_all .p_product_li .p_img a{position: relative;}
main .promotion_wrap .p_product_all .p_product_li .p_img a img{width: 100%;}
main .promotion_wrap .p_product_all .p_product_li .p_img a span{
    font-size: 1.13rem;
    letter-spacing: -0.02rem;
    font-weight: 100;
    color: #fff;
    background-color: #000;
    padding: 5px 10px;
    position: absolute;
    bottom: 4px; left: 1px;
}
main .promotion_wrap .p_product_all .p_product_li .p_txt{
    padding: 30px 0 20px;
}
main .promotion_wrap .p_product_all .p_product_li .p_txt h2{
    font-weight: 700;
    font-size: 1.25rem;
}
main .promotion_wrap .p_product_all .p_product_li .p_txt p{
    font-size: 1.13rem;
    color: #898989;
    padding-top: 10px;

}
main .promotion_wrap .p_product_all .p_product_li .p_txt p span{
    font-size: 1.13rem;
    color: #898989;
}
main .promotion_wrap .p_product_all .p_product_li .p_txt p span::before{content: "|"; padding: 0 10px;}
main .promotion_wrap .p_product_all .p_product_li .p_prv{
    display: flex; 
    align-items: flex-end; 
    /* background-color: yellow; */
}
main .promotion_wrap .p_product_all .p_product_li .p_prv a{}
main .promotion_wrap .p_product_all .p_product_li .p_prv a img{}
main .promotion_wrap .p_product_all .p_product_li .p_prv .product{
    /* background-color: red; */
}
main .promotion_wrap .p_product_all .p_product_li .p_prv .product a{}
main .promotion_wrap .p_product_all .p_product_li .p_prv .product a img{}
main .promotion_wrap .p_product_all .p_product_li .p_prv .price{
    padding-left: 10px;
}
main .promotion_wrap .p_product_all .p_product_li .p_prv .price p{
    font-size: 0.88rem;
    color: #898989;
    line-height: 200%;
}
/* 픽 시작 */
main .pick_wrap{padding-left: 30px;}
main .pick_wrap h1{}
main .pick_wrap > .pick_product_all .pick_product_li{}
main .pick_wrap > .pick_product_all .pick_product_li{}
main .pick_wrap > .pick_product_all .pick_product_li a{}
main .pick_wrap > .pick_product_all .pick_product_li a img{}
main .pick_wrap > .pick_product_all .pick_product_li .pick_txt{
    padding-top: 30px;
}
main .pick_wrap > .pick_product_all .pick_product_li .pick_txt h2{
    font-weight: 700;
    font-size: 1.25rem;
}
main .pick_wrap > .pick_product_all .pick_txt p{
    font-size: 1.13rem;
    color: #898989;
    padding-top: 10px;
}
main .pick_wrap > .pick_product_all .pick_product_li .pick_txt p span{
    font-size: 1.13rem;
    color: #898989;
}
main .pick_wrap > .pick_product_all .pick_product_li .pick_txt p span::before{
    content: "|"; padding: 0 10px;
    
}
/* 커머셜 시작 */
main .commercial{}
main .commercial .black{
    padding-top: 90px;
    background-color: #000;
    text-align: center;
    position: relative;
    top: 45px;
    z-index: 100;
}
main .commercial .black img{
}
main .commercial .blue{
    background-color: #0064FF;
    padding: 100px 0;
    position: relative;
    z-index: 200;
}
main .commercial .blue{}
main .commercial .blue p{
    width: 100%;
    text-align: center;
    font-size: 1.88rem;
    font-weight: 300;
    color: #fff;
    line-height: 200%;
}
